.thead {
    color: #00d09c;
}

.listRow {
    cursor: pointer;
}

.pagination {
    justify-content: flex-end;
}

@media (max-width: 425px) {
    .pagination {
        justify-content: flex-start;
    }
}
